.wrapper {
    min-width: 320px;
    margin: 0 auto;
  }
  
  ul {
    list-style: none;
  }
  
  [class*="col-"] {
    padding: 0;
  }
  
  [class*="container"] {
    padding: 0;
  }
  
  .top-wrap {
    background-image: url(../images/mobile.jpg);
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 4.375rem;
  }
  
  .login {
    display: flex;
    justify-content: center;
    padding-top: 1.25rem;
    margin-bottom: 7.18rem;
  }
  
  .login-item a {
    display: block;
    height: 2.25rem;
    border: 2px solid transparent;
    border-radius: 1.25rem;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    line-height: 2.25rem;
    padding: 0 1.125rem;
  }
  
  .login-item a:hover {
    border: 2px solid #fff;
  }
  
  .logo {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 20px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .section {
    padding-bottom: 8.6rem;
  }
  
  .section h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
  }
  
  .section span {
    display: block;
    padding: 0 3.125rem;
    text-align: center;
    margin-bottom: 1.8rem;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 300;
    color: rgb(255, 255, 255);
    line-height: 1.2;
  }
  
  .section a {
    display: block;
    text-align: center;
    width: 280px;
    height: 2.5rem;
    margin: 0 auto;
    background-color: #ff4e50;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 2.5rem;
    text-align: center;
  }
  
  .section a:hover {
    background-color: #ff4e30;
  }
  
  .section-bottom {
    padding-bottom: 3.5625rem;
    margin: 0 auto;
  }
  
  .section-bottom h3 {
    text-align: center;
    margin-bottom: 1.2rem;
    font-size: 22px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: 700;
  }
  
  .gallery {
    padding: 0;
  }
  
  .gallery-item {
    text-align: center;
    margin-bottom: 1.56rem;
  }
  
  .gallery-item a {
    display: block;
    text-decoration: none;
    width: 230px;
    margin: 0 auto;
  }
  
  .gallery-item span {
    display: block;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.9rem;
  }
  
  .gallery-item p {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: center;
  }
  
  .img-wrap {
    position: relative;
    width: 7.5rem;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 1.25rem;
  }
  
  .img-wrap > img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    width: 2.5rem;
    height: 2.5rem;
    border: 5px solid #fff;
    bottom: 0;
    right: 0;
    border-radius: 50%;
  }
  
  .gallery-item:nth-of-type(1) .icon {
    background-color: #ff4e50;
  }
  
  .gallery-item:nth-of-type(2) .icon {
    background-color: #ffa507;
  }
  
  .gallery-item:nth-of-type(3) .icon {
    background-color: #1cd7ad;
  }
  
  .gallery-item:nth-of-type(4) .icon {
    background-color: #4e73db;
  }
  
  .icon img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .other-partn {
    display: block;
    width: 280px;
    margin: 0 auto;
    height: 2.5rem;
    line-height: 2.5rem;
    border: 2px solid #ff4e50;
    border-radius: 20px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 78, 80);
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }