@media screen and (min-width: 768px) {
    .wrapper {
      /* min-width: 768px; */
      margin: 0 auto;
    }
  
    .top-wrap {
      background-image: url(../images/tablet.jpg);
      background-size: cover;
      margin-bottom: 4.375rem;
    }
  
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2.2rem 3.125rem 0 3.125rem;
      margin-bottom: 156px;
    }
  
    .login {
      padding-top: 0;
      margin-bottom: 0;
      margin: 0;
    }
  
    .logo {
      margin-bottom: 0;
    }
  
    .section {
      padding-bottom: 230px;
    }
  
    .section h2 {
      font-size: 52px;
    }
  
    .section a {
      width: 225px;
    }
  
    .section span {
      font-size: 24px;
      padding: 0;
    }
  
    /*.section-bottom {
      min-width: 768px;
    }*/
  
    .section-bottom h3 {
      padding-bottom: 2.5rem;
    }
  
    .gallery {
      display: flex;
      flex-wrap: wrap;
      width: 61.19%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.875rem;
    }
  
    .gallery-item:nth-child(2) {
      order: 2;
    }
  
    .gallery-item:nth-child(4) {
      order: 2;
    }
  
    .gallery-item:nth-child(odd) {
      margin-bottom: 3.125rem;
    }
  
    .other-partn {
      width: 225px;
    }
  }